.body {
	font-family: sans-serif;
}
.form {
	border: 2px solid #1a9685;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.8;
    max-width: 38vh;
}
.form-group {
	border:none;
    padding-bottom: 0px;
}
.form-title {
    font-weight: 600;
    margin: 10px 0;
}
.form-label {
    display: block;
}
.form-field {
    display: block;
    cursor: pointer;
    padding: 5px;
}

p {
    margin-top: 0px;
    margin-bottom: 5px;
}

.textarea {
    resize: vertical;
    min-height: 20px;
    max-height: 300px;
    margin-bottom: 5px;
}
.form-field,
.textarea {
    border: 1px solid #3d1a96;
	border-radius: 5px;
}
.checkbox{
    display: inline;
    cursor: pointer;
}
.checkbox-text {
    
}
.submit-form {
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 10px;
}
