.hero {
  position: relative;
  padding-top: 80px;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 106px;
  z-index: -1;
  width: 100%;
  height: 48px;
  background: url("../images/decor-large-icon.svg") repeat-x;
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 28px;
}

.hero h1 {
  margin-bottom: 40px;
  font-family: Oswald, sans-serif;
  font-weight: 600;
  font-size: 62px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}

.hero h1 strong {
  font-weight: 600;
  color: #3596ed;
}

.hero-info .text {
  max-width: 440px;
  margin-bottom: 140px;
}

.hero-images {
  position: relative;
  display: flex;
}

.hero-choose {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 161px;
  padding: 22px;
  background: rgb(255 255 255 / 0.9);
  border: 1px solid #535755;
  text-align: center;
}
