table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption {
    border: 1px solid #000000;
    border-bottom: none;
    font-weight: 700;
}

tr,th,td {
    border: 1px solid #000000;
    
}

.red {
    color: #ff0000;
}